#review-box {
	width: 100%;
	height: 200px;
}

#review-body {
	width: 60%;
	margin-left: 100px;
}

#save-review {
	float: right;
    margin-top: 20px;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background: white;
    border-color: black;
}
