<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>{{product.product_name}}</p>
    <hr>
    <p>{{product.description}}</p>
    <hr>
    <p>Price: {{product.price | floatformat}} (Ron/{{product.unit}})</p>
    <small>There are still {{product.stock_number | floatformat}}
              {% if product.stock_number == 1 and product.unit == "Units" %}
                Unit
              {% else %}
                {{product.unit}}
              {% endif %}
              available
    </small>
    <br>
    <form method="post">
        <div>
          {% csrf_token %}
          {{ form}}
          <input type="submit" value="Save"/>
        </div>
    </form>

</body>
</html>