<html>
  <head>
    <title>Review List</title>
    <pnk rel="stylesheet" type="text/css" href="review.css">
  </head>

  <body>
    <form method="post">
      <div>
        <h3>Review List</h3>
        {% csrf_token %}
        {{ form}}
       </div>
    </form>
        <div>
          {% for review in reviews_list %}
            <h3>{{review.product_name}}</h3>
            <p>{{review.client_name}}</p>
            <p>{{review.date | date: 'd F Y'}}</p>
            <p>{{review.comment}}</p>
            <p><a href="{% url 'delete_product' product.pk %}"><input type="button" value="Delete"/></a></p>
          {% endfor %}
        </div>
        <div>
          {% include "review.html" %}
        </div>
  </body>
<html>