<html>
  <head>
    <title>Review Product</title>
    <link rel="stylesheet" type="text/css" href="review.css">
  </head>
  <body>
    <div id="review-body">
      <form method="post" id="form-review">
          <div>
            <h4>Add Review</h4>
            {% csrf_token %}
            {{ form}}
          </div>
      </form>
      <div>
        <textarea id="review-box" placeholder="Enter your review here." form="form-review" name="review"></textarea>
      </div>
      <div>
        <input type="submit" value="Save" id="save-review"/>
      </div>    
    </div>
  </body>
<html>